/* basic */
.bg-main-color {
    background-color: var(--main-color);
}

/* hero */
.hero.container {
    padding-bottom: 20px;
}

    .hero > .short {
        text-align: center;
    }

    .hero img {
        height: 30px;
        margin-bottom: var(--big-gap);
    }

    .hero h1 {
        display: inline-block;
        width: 100%;
        color: #000;
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: var(--gap);
    }

    .hero p {
        display: inline-block;
        width: 100%;
        color: #444;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: var(--big-gap);
    }

    .hero .clock {
        margin-bottom: var(--big-gap);
    }

    .hero .form {
        margin-bottom: var(--gap);
    }
/* main */
main h2 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: var(--gap);   
}

main p {
    font-size: 15px;
    line-height: 23px;
    color: #777;
    margin-bottom: var(--gap);
}

    main p > a {
        color: var(--secondary-color);
        text-decoration: none;
    }

    main p > a:hover {
        text-decoration: underline;
    }

/* footer */
footer.container {
    padding-top: 0;
}